<h1>item#show</h1>
<p>Find me in app/views/item/show.html.erb</p>
<div class="container">        
        <h3>Add a item</h3>   
      
            <div>   
              <label>Item Name</label>   
              <%= @item.name %>   
            </div>   
  
            <div>   
              <label>Price</label>   
              <%= @item.price %>   
            </div>   
            
            <div>   
              <label>Image</label>   
              <%= @item.image %>   
            </div>   
            <div>   
              <label>Qunatity</label>   
              <%= @item.quantity %>   
            </div> 
         
      <div>   
        <%= link_to 'Back',"/" %>   
      </div>    
          
</div>  
